<mat-toolbar color="primary">
    <button class="menu" mat-icon-button color="white" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
</mat-toolbar>

<mat-drawer-container autosize>
    <router-outlet></router-outlet>
    <!--
    <mat-card>
        <app-messages></app-messages>
    </mat-card>
    -->


    <mat-card>
        <mat-card-title>
            Autor
        </mat-card-title>
        <mat-card-footer>
            Desarrollado por Cerberus
        </mat-card-footer>
    </mat-card>

    <mat-drawer #drawer mode="side">
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option routerLink="/">
                Inicio
            </mat-list-option>
            <mat-list-option routerLink="/heroes">
                Heroes
            </mat-list-option>
            <mat-list-option>
                Informacion
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
</mat-drawer-container>