<mat-grid-list cols="3" rowHeight="2:2">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>
                Best Heroe
            </mat-card-title>
            <mat-selection-list multiple="false">
                <mat-list-option routerLink="/detail/{{hero.id}}">
                    {{hero.name}}
                </mat-list-option>
            </mat-selection-list>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Top Heroes</mat-card-title>
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
                    {{hero.name}}
                </mat-list-option>
            </mat-selection-list>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <app-messages></app-messages>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>